<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="scripts.js" type="text/javascript"></script>

    <title>iWant</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IWant  <i class="fa fa-suitcase" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.php">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="index.php?action=showBackend">Volver <span class="sr-only">(current)</span></a>
      </li>

      {% if datos.session == "true" %}
      <li class="nav-item active">
        <a class="nav-link" href="#">Agregar Fondos <i class="fa fa-credit-card" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="index.php?action=destroySession">Salir</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<header class="header" id="top">
<br>
<!-- <section id="services" class="services bg-primary text-white"> -->
  <div class="container">
    <ul class="list-group">
    <li class="list-group-item active">
      <h5 class="mt-0 mb-1">Mi Carrito:</h5>
      Ahora podés pagar los siguientes servicios agregados al carrito:
    {% if datos.agregados %}
    {% for each in datos.agregados %}
    {% set indice = each - 1 %}
    <li class="list-group-item">
      <h5 class="mt-0 mb-1">Titulo del producto: {{datos.productos[indice].nombre}}</h5>
      Precio: ${{datos.productos[indice].precio}}
    </li>
    {% endfor %}
    {% else %}
    <li class="list-group-item">
        ¡Todavia no agregaste ningun producto al carrito!
    </li>
    {% endif %}
    </ul>
    <div class="conteiner">
      <div class="row justify-content-md-center">
        {% if productos %}
          <button type="button"  class="btn btn-primary btn-lg" style="margin-top:10px">Acceder Al Pago <i class="fa fa-credit-card" aria-hidden="true"></i></button>
        {% endif %}
      </div>
    </div>
  </div>
</header>
  <!-- /.container -->
<!-- </section> -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>Contacto</strong>
            </h4>
            <p>Taller De Programacion
              <br>Facultad De informatica UNLP</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-phone fa-fw"></i>
                (123) 221-666-666</li>
              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:iWant@gmail.com">iWant@gmail.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; UNLP 2017</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.js"></script>

  </body>

</html>
