<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>

    <title>iWant</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Header -->

    <header class="header" id="top">
      <!-- Navigation -->
    {% if session == false %}
    <a href="index.php?action=showLogin"><button type="button" class="btn btn-dark" style="position:fixed">
      Iniciar Sesión
    </button>
    </a>
    {% else %}
    <a href="index.php?action=showBackend"><button type="button" class="btn btn-dark" style="position:fixed">
      -Perfil-
    </button>
    </a>
    {% endif %}
      <div class="text-vertical-center">
        <h1>iWant <i class="fa fa-suitcase" aria-hidden="true"></i></h1>
        <h3>Hoteles, vuelos y hasta alquiler de vehiculos a los mejores precios</h3>
        <br>
        <a href="index.php?action=showBackend" class="btn btn-dark btn-lg js-scroll-trigger">Comenza tu sueño</a>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div class="container text-center">
        <h2>iWant es una pagina con el fin de ayudar a los viajeros frecuentes amantes del mundo.</h2>
        <p class="lead">-Live a life you will remember.</p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
            <h2>Servicios</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-3 col-sm-6" style="margin-left: 10%">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-plane fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Vuelos Por todo el mundo</strong>
                  </h4>
                  <p>Vuelos de las mejores clases, ida y/o vuelta, arma tus propios paquetes!</p>
                  <a href="index.php?action=showBackend" class="btn btn-light">Buscar Vuelos</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-car fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Alquile un vehiculo</strong>
                  </h4>
                  <p>Si no eres fan de caminar y no puedes llevar tu propio coche al exterior, alquila uno!</p>
                  <a href="index.php?action=showBackend" class="btn btn-light">Alquila vehiculo</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-home fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Reserve un Hotel</strong>
                  </h4>
                  <p>Tenga seguridad de que va a dormir en un hotel de gran calidad reservado con anticipacion!</p>
                  <a href="index.php?action=showBackend" class="btn btn-light">Alquilar Hotel</a>
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>



    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>Contacto</strong>
            </h4>
            <p>Taller De Programacion
              <br>Facultad De informatica UNLP</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-phone fa-fw"></i>
                (123) 221-666-666</li>
              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:iWant@gmail.com">iWant@gmail.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; UNLP 2017</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.js"></script>

  </body>

</html>
