<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="login de iwant">
    <meta name="author" content="francisco e ivan">

    <title>Iniciar Sesión</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="../js/jquery.js"></script>
    <script src="../js/scripts.js"></script>
    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Header -->

    <header class="header" id="top">
      <!-- Navigation -->
    <a href="index.php"><button type="button" class="btn btn-dark" style="position:fixed">
      Volver
    </button>
    </a>
      <div class="text-vertical-center">
        <div class="col-lg-4 mx-auto">
          <form>
             <div class="form-group">
               <label for="user">Mail</label>
               <input type="email" class="form-control" id="user" name="user" placeholder="email@ejemplo.com" required autofocus>
             </div>
             <div class="form-group">
               <label for="pass">Contraseña</label>
               <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required>
             </div>
             <div id="mensaje" name="mensaje" class="form-group">
             </div>
            <button id="iniciarSesion" class="btn btn-outline-dark">Ingresar</button>
          </form>
      </div>
    </div>
    </header>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>Contacto</strong>
            </h4>
            <p>Taller De Programacion
              <br>Facultad De informatica UNLP</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-phone fa-fw"></i>
                (123) 221-666-666</li>
              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:iWant@gmail.com">iWant@gmail.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; UNLP 2017</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.js"></script>
    <script src="scripts.js"></script>


  </body>

</html>
